.Anl {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Anl .Anl--form {
    margin: auto;
	margin-top: 5%;
}

.Anl--Menu{
    margin-top: 7%;
	margin-left: 5%;
}

.Anl--list{
    margin-left: 70px;
}

.All--list__buttons{
    width: 200px;
    margin-top: 2px;
}

.Anl--label {
    font-size: 18px;
    color: white;
    text-align: center;
}

.Anl--description{
    font-size: 18px;
	text-align: center;
}

.Anl--description__div{
	margin-top: 7%;
	margin-left: 5%;
}

.Anl-code{
    width: 200px;
    margin-right: 300px;
    text-align: justify;
}
