.Index {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Index .Index--form {
    margin: auto;
}

.Index--Menu{
    margin-top: 5%;
    margin-left: 5%;
}

.Index--form__buttons{
    position: absolute;
    margin-top: 23%;
    margin-left: 5%;
}

.Index--form .button {
    margin-top: 10px;
}

.Index--description{
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 18px;
}