.Info {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Info .Info--form {
    margin: auto;
}

.Info--description{
    text-align: center;
    margin: auto;
    font-size: 18px;
    max-width: 400px;
}

.Info--button__Return{
    margin: auto;
    margin-top: 2%;
}

.Info--box{
    margin-top: 1%;
}