.Main {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main .Main--form {
    margin: auto;
}

.Main .Main--description {
    margin: auto;
}

.Main--label {
    font-size: 25px;
}

.Main--logo {
    margin-bottom: 30px;
}

.Main--logo .Main--logo-label {
    font-size: 25px;
}


.Main--logo .Main--logo-img {
    height: 200px;
}


.Main--login-form {
    max-width: 400px;
    margin: auto;
}


.Main--login-form .button {
    margin-top: 20px;
}
