.Reg {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Reg .Reg--form {
    margin: auto;
}

.Reg--Menu{
    max-width: 600px;
    max-height: 700px;
    margin: auto;
}

#Reg--Menu__id{
    margin-top: 100px;
}

.Reg--form__buttons{
    position: absolute;
    margin-top: 23%;
    margin-left: 5%;
}

.Reg--form .button {
    margin-top: 10px;
}

.Reg--description{
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 18px;
}

.Reg-label {
    font-size: 18px;
}

.Reg--logo {
    margin-bottom: 20px;
    margin-top: 20px;
}

.Reg--logo .Reg--logo-label {
    font-size: 25px;
}


.Reg--logo .Reg--logo-img {
    height: 100px;
}