.Start {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Start--form {
    margin: auto;
}

.Start--Menu{
    margin-top: 8%;
}

.Start--form__buttons{
    margin-top: 1%;

}

.Start--list{
    margin-left: 60px;
}

.Start--list__buttons{
    width: 200px;
    margin-top: 2px;
}

.Start--label {
    font-size: 18px;
    color: white;
    text-align: justify;
}

.Start--form .button {
    margin-top: 2px;
    position: absolute;
}

.Start--description{

}