.Start {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Start--form {
    margin: auto;
}

.Start--Menu{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.Start--list__buttons{
    width: 200px;
    margin-top: 5px;
    margin: auto;
}

.Start--label {
    font-size: 18px;
    color: white;
    text-align: justify;
}

.Start--form .button {
    margin-top: 5px;
    position: absolute;
}

.Start--label__H1{
    font-size: 24px;
}