.Body{
    background-image: url(../images/theme.jpg);
}

/* Button, which returns to the index.html page */
#STRButton1{
    text-align: center;
    width: 150px;
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #F76FAF;
    color: #000000;
    opacity: 0.8;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20;
}
#STRButton1:hover{
    transform: scale(1.1);
    transition: 1.0s transform;
    opacity: 1;
}
/* END */

/* Here is the instruction to education system of the program */
#STRInstruction{
    background-color: white;
    overflow: scroll;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 430px;
    border: 5px solid #F76FAF;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#STRInstructionText{
    padding: 10px;
    margin: 10px;
}
/* END */

/* Pages under the Text, which help us to move from page to page */
.STRpages{
	width: 395px;
	padding: 2px;
	margin-left: auto;
    margin-right: auto;
	border: 4px solid #F76FAF;
    border-radius: 5px;
    background-color: white;
}

.STRpagesLable{
	font-size: 16px;
	color: #000000;
}

.STRpagesLable:hover{
    color: red;
    font-size: 18px;
}

.STRpagesLable:active{
    border-style: inset;
}

.STRpagesContole{
    display: inline;
}
/* END */

/* The button, which helps to return again to start.html from the other pages */
#STRButtonMAIN{
    width: 80px;
    padding: 2px;
    margin-left: 47%;
    margin-top: 2.5%;
    border: 4px solid #F76FAF;
    border-radius: 5px;
    background-color: white;
}

#STRButtonMAIN:hover{
    transform: scale(1.1);
    transition: 1.0s transform;
    color: red;
}

#STRButtMAIN:active{
    border-style: inset;
}
/* END */

/* ?? */
#CheckThis{
    border: 4px solid #F76FAF;
    border-radius: 5px;
}