.Body{
    background-image: url(../images/main4.jpg);
}

#TSTButt1{
    text-align: center;
    width: 150px;
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #05BFFC;
    color: #000000;
    opacity: 0.8;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20;
}
#TSTButt1:hover{
    transform: scale(1.1);
    transition: 1.0s transform;
    opacity: 1;
}

#TSTInstruction{
    background-color: white;
    overflow: scroll;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 430px;
    border: 5px solid #05BFFC;
    border-radius: 5px;
    font-size: 20px;
}

#TSTInstructionP{
    padding: 10px;
}

.TSTpages{
    width: 400px;
    padding: 2px;
    margin-top: 5%;
    margin-left: 35%;
    border: 4px solid #05BFFC;
    background-color: white;
}

.TSTpagesLable{
    font-size: 16px;
    color: #000000;
}

.TSTpagesLable:hover{
    color: red;
    font-size: 18px;
}

.TSTpagesLable:active{
    border-style: inset;
}
