.Test {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Test .Test--form {
    margin: auto;
	margin-top: 5%;
}

.Test--Menu{
    margin-top: 7%;
	margin-left: 5%;
}

.Test--form__buttons{
    margin-top: 1%;
}

.Test--list{
    margin-left: 70px;
}

.All--list__buttons{
    width: 200px;
    margin-top: 2px;
}

.Test--label {
    font-size: 18px;
    color: white;
    text-align: center;
}

.Test--form__buttons {
    margin-top: 23%;
	margin-left: 3.5%;
    position: absolute;
}

.Test--description{
    font-size: 18px;
	text-align: center;
}

.Test--description__div{
	margin-top: 5%;
	margin-left: 5%;
}

.Test-code{
    width: 200px;
    margin-right: 300px;
    text-align: justify;
}
