.All {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.All .All--form {
    margin: auto;
}

.All--Menu{
    margin-top: 5%;
}

.All--form__buttons{
    margin-top: 1%;
}

.All--list{
    margin-left: 70px;
}

.All--list__buttons{
    width: 200px;
    margin-top: 2px;
}

.All--label {
    font-size: 18px;
    color: white;
    text-align: justify;
}

.All--form .button {
    margin-top: 2px;
    position: absolute;
}

.All--description{
    font-size: 18px;
}

.All-code{
    width: 200px;
    margin-right: 300px;
    text-align: justify;
}
